name: Integration

on:
  workflow_dispatch:
  pull_request:
    branches: ["main", "master"]

permissions: {}

jobs:
  integration:
    name: Integration
    runs-on: ubuntu-latest
    env:
      GORELEASER_VERSION: "2.13.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: "1.25.x"
          cache: false

      - name: GoReleaser build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: ${{ env.GORELEASER_VERSION }}
          args: build --clean --snapshot --single-target --id xk6

      - name: Setup Bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
        with:
          bats-version: "1.13.0"
          support-install: false
          assert-install: false
          detik-install: false
          file-install: false

      - name: Setup govulncheck
        env:
          GOVULNCHECK_VERSION: v1.1.4
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@${GOVULNCHECK_VERSION}

      - name: Setup gosec
        env:
          GOSEC_VERSION: v2.22.10
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@${GOSEC_VERSION}

      - name: Run tests
        run: |
          cat >> $GITHUB_STEP_SUMMARY <<END

          ### Integration Test

          END

          set -e
          bats it/test | tee -a $GITHUB_STEP_SUMMARY
