name: Integration

on:
  workflow_dispatch:
  pull_request:
    branches: ["main", "master"]

permissions: {}

jobs:
  integration:
    name: Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: true
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: "1.25.x"
          cache: false

      - name: GoReleaser build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "2.8.2"
          args: build --clean --snapshot --single-target --id xk6

      - name: Setup Bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
        with:
          bats-version: "1.11.1"

      - name: Setup govulncheck
        env:
          GOVULNCHECK_VERSION: v1.1.4
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@${GOVULNCHECK_VERSION}

      - name: Setup gosec
        env:
          GOSEC_VERSION: v2.22.3
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@${GOSEC_VERSION}

      - name: Run tests
        run: |
          cat >> $GITHUB_STEP_SUMMARY <<END

          ### Integration Test

          END

          set -e
          bats it/test | tee -a $GITHUB_STEP_SUMMARY
