name: Release

on:
  # #region triggers
  push:
    tags: ["v*.*.*"]
  # #endregion triggers

permissions: {}

jobs:
  release:
    name: Release
    uses: ./.github/workflows/tooling-release.yml
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      # #region inputs
      go-version: "1.25.5"
      goreleaser-version: "2.13.3"
      k6-versions: '["v1.2.3","v1.0.0"]'
      bats: ./.github/release.bats
      # #endregion inputs
  liveness:
    name: Liveness
    needs: ["release"]
    uses: ./.github/workflows/liveness.yml
    permissions:
      contents: read
    with:
      xk6-version: "${{github.ref_name}}"
      xk6-it-version: "submodule"
